# GRADLE
.gradle
local.properties
**/build
**/libs

# IDEA
.idea
**/*.iml

# MAC
.DS_Store

# GOOGLE
/**/google-services.json
/**/google_services.txt

# ENTORNOS y PRUEBAS
# Certificate jks for tests
**/res/raw/*
# Parámetros redundantes
/**/res/values/geny*.xml
/**/res/values/local*.xml
# Parámetros de entornos
terminal/resources/aws*.xml
terminal/env_init.sh
terminal/aws*.help
terminal/prod*.help
terminal/local*.help

#  MISCELÁNEA
terminal/server.log
administracion
.navigation

