# GRADLE
.gradle
local.properties
**/build

# IDEA
.idea
**/*.iml

# MAC
.DS_Store

# GOOGLE
/**/google-services.json

# ENTORNOS y PRUEBAS
# Certificate stores
**/res/raw/*bks
# Parámetro PRO
**/res/values/app_parameters.xml
# Configuración de entornos
terminal/*
# Logs
logs/

# Releases
/**/releases

#  MISCELÁNEA
administracion

