# GRADLE
.gradle
local.properties
**/build
**/libs
**/gen

# IDEA
.idea
**/*.iml

# MAC
.DS_Store

# GOOGLE
/**/google-services.json
/**/google_services.txt

# ENTORNOS y PRUEBAS
# Certificate stores
**/res/raw/*.bks
# Parámetros redundantes
/**/res/values/geny*.xml
/**/res/values/local*.xml
/**/res/values/physical*.xml
# Configuración de entornos
terminal/app_pro
terminal/app_pre
!terminal/app_pre/*.xml
terminal/env_init.sh
terminal/env_close.sh

#  MISCELÁNEA
logs/*.*
administracion
.navigation

