<manifest package="com.didekinaar"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!--All of the permissions are non-dangerous permission. No check online.-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Permissions for GCM services -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <!-- .......... -->
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application>

        <!-- .......... GCM services ......... -->
        <service
            android:name="com.didekinaar.usuario.AarFBInstanceIdService" android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.didekinaar.usuario.AarFBRegIntentService"
            android:exported="false">
        </service>
    </application>
</manifest>