<manifest package="com.didekinaar"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <application android:name="com.didekinaar.DidekinAarApp"
                 android:theme="@style/themeDebug"
                 android:networkSecurityConfig="@xml/network_security_config"  tools:ignore="UnusedAttribute"
                 tools:node="replace">
        <!-- Activity for UIException tests. -->
        <activity
            android:name="com.didekinaar.mock.MockActivity"
            android:label="@string/mockActivity_label"
            android:launchMode="singleTask">
        </activity>
    </application>
</manifest>