<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.didekindroid"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!--All of the permissions are non-dangerous permission. No check online.-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Permissions for GCM services -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <!-- .......... -->
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:name=".DidekinApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/themeOne"
        android:networkSecurityConfig="@xml/network_security_config">
        <!-- **************************************************************** -->
        <!-- USUARIO -->
        <!-- **************************************************************** -->
        <activity
            android:name="com.didekindroid.comunidad.ComuDataAc"
            android:label="@string/comu_data_ac_label"
            android:parentActivityName="com.didekindroid.usuariocomunidad.UserComuDataAc"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.didekindroid.usuariocomunidad.UserComuDataAc"/>
        </activity>
        <activity
            android:name="com.didekindroid.comunidad.ComuSearchAc"
            android:label="@string/comu_search_ac_label"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.didekindroid.comunidad.ComuSearchResultsAc"
            android:label="@string/comu_search_results_ac_label"
            android:parentActivityName="com.didekindroid.comunidad.ComuSearchAc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.didekindroid.comunidad.ComuSearchAc"/>
        </activity>
        <activity
            android:name="com.didekindroid.usuariocomunidad.RegComuAndUserAndUserComuAc"
            android:label="@string/reg_comunidad_ac_label"
            android:launchMode="singleTask"
            android:parentActivityName="com.didekindroid.comunidad.ComuSearchAc"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.didekindroid.comunidad.ComuSearchResultsAc"/>
        </activity>
        <activity
            android:name="com.didekindroid.usuariocomunidad.RegComuAndUserComuAc"
            android:label="@string/reg_comunidad_ac_label"
            android:launchMode="singleTask"
            android:parentActivityName="com.didekindroid.comunidad.ComuSearchAc"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.didekindroid.comunidad.ComuSearchAc"/>
        </activity>
        <activity
            android:name="com.didekindroid.usuariocomunidad.RegUserAndUserComuAc"
            android:label="@string/reg_user_and_usercomu_ac_label"
            android:parentActivityName="com.didekindroid.comunidad.ComuSearchResultsAc"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.didekindroid.comunidad.ComuSearchResultsAc"/>
        </activity>
        <activity
            android:name="com.didekindroid.usuariocomunidad.RegUserComuAc"
            android:label="@string/regusuario_comu_ac_label"
            android:launchMode="singleTask"
            android:parentActivityName="com.didekindroid.comunidad.ComuSearchResultsAc"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.didekindroid.comunidad.ComuSearchResultsAc"/>
        </activity>
        <activity
            android:name="com.didekindroid.usuariocomunidad.SeeUserComuByComuAc"
            android:label="@string/see_usercomu_by_comu_ac_label"
            android:parentActivityName="com.didekindroid.usuariocomunidad.UserComuDataAc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.didekindroid.usuariocomunidad.UserComuDataAc"/>
        </activity>
        <activity
            android:name="com.didekindroid.usuariocomunidad.SeeUserComuByUserAc"
            android:label="@string/see_usercomu_by_user_ac_label"
            android:parentActivityName="com.didekindroid.comunidad.ComuSearchResultsAc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.didekindroid.comunidad.ComuSearchResultsAc"/>
        </activity>
        <activity
            android:name="com.didekindroid.usuariocomunidad.UserComuDataAc"
            android:label="@string/usercomu_data_ac_label"
            android:parentActivityName="com.didekindroid.usuariocomunidad.SeeUserComuByUserAc"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.didekindroid.usuariocomunidad.SeeUserComuByUserAc"/>
        </activity>

        <!-- .......... GCM services ......... -->
        <service
            android:name=".firebase.InstanceIdService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- **************************************************************** -->
        <!-- INCIDENCIA -->
        <!-- **************************************************************** -->
        <activity
            android:name=".incidencia.activity.IncidCommentRegAc"
            android:label="@string/incid_comment_reg_ac_label"
            android:parentActivityName=".incidencia.activity.IncidEditAc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".incidencia.activity.IncidEditAc"/>
        </activity>
        <activity
            android:name=".incidencia.activity.IncidCommentSeeAc"
            android:label="@string/incid_comment_see_ac_label"
            android:parentActivityName=".incidencia.activity.IncidEditAc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".incidencia.activity.IncidEditAc"/>
        </activity>
        <activity
            android:name=".incidencia.activity.IncidEditAc"
            android:label="@string/incid_edit_ac_label"
            android:parentActivityName=".incidencia.activity.IncidSeeOpenByComuAc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".incidencia.activity.IncidSeeOpenByComuAc"/>
        </activity>
        <activity
            android:name=".incidencia.activity.incidreg.IncidRegAc"
            android:label="@string/incid_reg_ac_label"
            android:parentActivityName=".incidencia.activity.IncidSeeOpenByComuAc"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".incidencia.activity.IncidSeeOpenByComuAc"/>
        </activity>
        <activity
            android:name=".incidencia.activity.IncidResolucionRegEditSeeAc"
            android:label="@string/incid_resolution_ac_label"
            android:parentActivityName=".incidencia.activity.IncidEditAc"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".incidencia.activity.IncidEditAc"/>
        </activity>
        <activity
            android:name=".incidencia.activity.IncidSeeClosedByComuAc"
            android:label="@string/incid_closed_by_user_ac_label"
            android:parentActivityName=".incidencia.activity.IncidSeeOpenByComuAc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".incidencia.activity.IncidSeeOpenByComuAc"/>
        </activity>
        <activity
            android:name=".incidencia.activity.IncidSeeOpenByComuAc"
            android:label="@string/incid_see_by_user_ac_label"
            android:parentActivityName=".usuariocomunidad.UserComuDataAc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".usuariocomunidad.UserComuDataAc"/>
        </activity>
        <activity
            android:name=".incidencia.activity.IncidSeeUserComuImportanciaAc"
            android:label="@string/incid_incidencia_importancia_rot"
            android:parentActivityName=".incidencia.activity.IncidEditAc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".incidencia.activity.IncidEditAc"/>
        </activity>
        <!-- .......... GCM services ......... -->
        <service
            android:name=".incidencia.firebase.IncidFireBaseMsgService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>
