<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.didekindroid"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".DidekinApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/themeOne"
        tools:ignore="UnusedAttribute"
        tools:node="replace">

        <!-- **************************************************************** -->
        <!-- INCIDENCIA -->
        <!-- **************************************************************** -->
        <activity
            android:name=".incidencia.activity.IncidCommentRegAc"
            android:label="@string/incid_comment_reg_ac_label"
            android:parentActivityName=".incidencia.activity.IncidEditAc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".incidencia.activity.IncidEditAc"/>
        </activity>
        <activity
            android:name=".incidencia.activity.IncidCommentSeeAc"
            android:label="@string/incid_comment_see_ac_label"
            android:parentActivityName=".incidencia.activity.IncidEditAc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".incidencia.activity.IncidEditAc"/>
        </activity>
        <activity
            android:name=".incidencia.activity.IncidEditAc"
            android:label="@string/incid_edit_ac_label"
            android:parentActivityName=".incidencia.activity.IncidSeeOpenByComuAc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".incidencia.activity.IncidSeeOpenByComuAc"/>
        </activity>
        <activity
            android:name=".incidencia.activity.IncidRegAc"
            android:label="@string/incid_reg_ac_label"
            android:parentActivityName=".incidencia.activity.IncidSeeOpenByComuAc"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".incidencia.activity.IncidSeeOpenByComuAc"/>
        </activity>
        <activity
            android:name=".incidencia.activity.IncidResolucionRegEditSeeAc"
            android:label="@string/incid_resolution_ac_label"
            android:parentActivityName=".incidencia.activity.IncidEditAc"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".incidencia.activity.IncidEditAc"/>
        </activity>
        <activity
            android:name=".incidencia.activity.IncidSeeClosedByComuAc"
            android:label="@string/incid_closed_by_user_ac_label"
            android:parentActivityName=".incidencia.activity.IncidSeeOpenByComuAc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".incidencia.activity.IncidSeeOpenByComuAc"/>
        </activity>
        <activity
            android:name=".incidencia.activity.IncidSeeOpenByComuAc"
            android:label="@string/incid_see_by_user_ac_label"
            android:parentActivityName="com.didekinaar.usuariocomunidad.UserComuDataAc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.didekinaar.usuariocomunidad.UserComuDataAc"/>
        </activity>
        <activity
            android:name=".incidencia.activity.IncidSeeUserComuImportanciaAc"
            android:label="@string/incid_incidencia_importancia_rot"
            android:parentActivityName=".incidencia.activity.IncidEditAc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".incidencia.activity.IncidEditAc"/>
        </activity>
        <!-- .......... GCM services ......... -->
        <service
            android:name=".incidencia.gcm.AppFBService" android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>
