<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.didekindroid"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".DidekinApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/themeOne"
        tools:node="replace">

        <!-- ......... -->
        <!-- Notification Listener for tests. -->
        <service
            android:name=".gcm.GcmNotificationListenerServ"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <activity
            android:name=".gcm.GcmBroadCastNotificationActivity"
            android:label="@string/title_activity_gcm_notification"
            android:theme="@style/themeOne">
        </activity>
    </application>
</manifest>
