<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.didekindroid">

    <application tools:ignore="AllowBackup">
        <!-- Activity for UIException tests. -->
        <activity
            android:name=".MockActivity"
            android:label="@string/mockActivity_label"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".MockNextDefaultActivity"
            android:label="@string/mockDefaultActivity_label"
            android:launchMode="singleTask">
        </activity>
    </application>
</manifest>
